[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
axon-ecrg = "*"
# Source: https://github.com/ljk53/pytorch-rpi. Compiled manually.
torch = { path = "./vendor/torch-1.9.0a0+gitd69c22d-cp39-cp39-linux_armv7l.whl" }
tqdm = "*"

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
mypy = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
