[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
axon-ecrg = "*"
numpy = "*"
torch = { version = "==1.9.0", markers = "platform_machine != 'aarch64'" }
torch_pi = { file = "https://github.com/KumaTea/pytorch-aarch64/releases/download/v1.9.0/torch-1.9.0-cp39-cp39-linux_aarch64.whl", markers = "platform_machine == 'aarch64'" }
torchvision = { version = "==0.10.0", markers = "platform_machine != 'aarch64'" }
torchvision_pi = { file = "https://github.com/KumaTea/pytorch-aarch64/releases/download/v1.9.0/torchvision-0.10.0-cp39-cp39-linux_aarch64.whl", markers = "platform_machine == 'aarch64'" }
tqdm = "*"

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
mypy = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"

[pipenv]
# To avoid installing `aiohttp 4.0.0a1` causing an incompatability with axon.
allow_prereleases = false
